---
title: Luton Bins
id: luton
order: 300
app_link:
  apple: https://itunes.apple.com/us/app/luton-bins/id1389738802
  android: https://play.google.com/store/apps/details?id=com.imactivate.lutonbins

---

<p>
  Luton Bins is an app for <a href="{{ app_link.apple }}">iPhone</a> and
  <a href="{{ app_link.android }}">Android</a> that tells people who live
  in Luton, Bedfordshire when their Green, Brown, and Black bins are due
  to be collected. The best way to try it is to download it now, enter your
  postcode, and pick your address.
</p>