---
title: Rotherham Bins
id: rotherham
order: 200
app_link:
  apple: https://apps.apple.com/gb/app/rotherham-bins/id16139348208
  android: https://play.google.com/store/apps/details?id=com.imactivate.rotherhambinsrelease
---

<p>
  Rotherham Bins is an app for <a href="{{ app_link.apple }}">iPhone</a>, and
  <a href="{{ app_link.android }}">Android</a> that tells people who live in Rotherham when
  their black, green, brown and household waste bins are due to be collected. The best way to
  try it is to download it now, enter your postcode, and pick your address.
</p>